[user]
	name = Aneek 🙈
	email = aneek@aneekm.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = true
[alias]
	stashu = stash --keep-index --include-untracked
[help]
	autocorrect = 20
