[user]
	name = Aneek 🙈
	email = aneek@aneekm.com
[core]
	editor = vim
	autocrlf = input
[alias]
    changes = show --pretty="" --name-only
    fdiff = diff HEAD^ HEAD --
	stashu = stash --keep-index --include-untracked
[help]
	autocorrect = 20
